.headlinesheader {
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url($greens);
    background-position: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    margin: 0;
}
.headlines {
    align-items: center;
    margin-right: 0;
    height: auto;
    width: 90%;
}

.headline--black {
    font-size: 22px;
    color: var(--primary);
}

.headline--blue {
    font-size: 16px;
    color: var(--tertiary);
}
